:root {
  --primary-color: #464e6a;
  --secondary-color: #b67978;
  --third-color: #d3ac79;
  --fourth-color: #a09d52;
  --fifth-color: #c4c0be;
}

body {
  font: "Hanken Grotesk", sans-serif;
  background-color: var(--primary-color);
  color: white;
}

section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 100px 0;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/garden-of-the-gods.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  text-align: center;
  padding: 210px;
}

header h1 {
  font-weight: 700;
  font-size: 75px;
  letter-spacing: 5px;
  line-height: 1.5;
  margin-bottom: 20px;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}

header h3 {
  font-size: 26px;
  font-weight: 500;
  line-height: 1.5;
}

header a {
  display: inline-block;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  background-color: var(--secondary-color);
  padding: 10px 15px;
  border-radius: 2px;
  margin-top: 30px;
}

header a:hover {
  color: var(--secondary-color);
  background-color: white;
}

main {
  background-color: var(--secondary-color);
}

main h2 {
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

main h3 {
  font-size: 28px;
  letter-spacing: 5px;
  opacity: 0.7;
  margin: 0;
}

main img {
  max-width: 550px;
  align-content: center;
}

main p {
  line-height: 1.5;
}

footer {
  background-image: linear-gradient(
      rgba(70, 78, 106, 0.8),
      rgba(70, 78, 106, 0.8)
    ),
    url("/images/downtown.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
}

footer a {
  text-decoration: none;
  color: white;
}

footer a:hover {
  color: var(--secondary-color);
}

footer p,
footer li a {
  font-size: 13px;
  opacity: 0.7;
}

i {
  text-align: center;
  color: var(--third-color);
  font-size: 18px;
  padding: 2px;
}

i:hover {
  color: var(--fourth-color);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.about-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.info-links {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.info {
  justify-content: center;
}

@media (max-width: 900px) {
  header {
    padding: 50px 0;
  }

  header h1 {
    font-size: 32px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 13px;
  }

  header a {
    font-size: 10px;
  }

  section {
    padding: 30px;
  }

  main img {
    max-width: 100%;
  }

  footer h4 {
    font-size: 12px;
  }

  footer p,
  footer li a {
    font-size: 10px;
  }

  i {
    font-size: 16px;
  }

  .about-section {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .info-links {
    grid-template-columns: 1fr;
    text-align: center;
  }
}
